/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-12-29, 12:05:20
    Author     : C0160
*/

body
{
    font-size: 14px;
}
div.content{
    margin: auto;
    text-align: center;
}
div.tbl{
    margin-bottom: 20px;
}
table
{
    margin:auto;
    border-spacing: 10px;
    border: 1px solid #A2C0DA;
}
th,td
{
    padding: 5px;
    border-collapse: collapse;
    text-align: left;
}
th
{
    background: #B0D0FC;
    border: 1px solid #000000;
    text-align: center;
    font-weight: bold;
}
td
{
    background: #D3E5FD;
    border: 1px solid #000000;
    text-align: right;
}
.title
{
    font-size:14px;
    font-weight:bold;

}
.foot
{
    font-size:14px;
    color:Red;
}
.divFoot
{
    text-align:right;
    height:20px;
    width:100%;
}
div.tableTitle{
    float:left;
    font-size:14px;
    font-weight:bold;
    text-align:left;
}
